{% extends 'base.html.twig' %}

{% block body %}
    <h1>Operadora de cadenas Symfony</h1>
    </br>
    <p><a href="{{ path('app_default_juntar') }}">Juntar cadenas</a></p>
    <p><a href="{{ path('app_default_reves') }}">Cadena al reves</a></p>
    <p><a href="{{ path('app_default_contar') }}">Contar caracteres</a></p>
    <p><a href="{{ path('app_default_mayusculas') }}">Convertir a mayusculas</a></p>


{% endblock %}